.header{
    display: flex;
    background-color:white;
    border-bottom: 1px solid grey;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    -webkit-box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.75);
    
}